{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div id="category-novel-box">
        <h1>Novel</h1>
        <hr>

        <div class="row">
            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>

            <div class="col-md-3 one">
                <a href="#">
                    <div class="book-top">
                        <img src="img/moby.jpg">
                    </div>

                    <div class="book-bottom text-center">
                        <h3>Moby Dick</h3>
                        <h4>Herman Melville</h4>
                        <h2>Price: Rs 949</h2>
                    </div>
                </a>
                <input type="button" onclick="window.location.href=''" name="login-button" value="Add To Cart"/>
            </div>
        </div>

        <div class="next-button">
            <a href="#" class="previous round">&#8249;</a>
            <a href="#" class="next round">&#8250;</a>
        </div>

    </div>
{% endblock %}