{% extends 'base.html' %}

{% block content %}
    <div id="sellmybook-box">
        <div class="sellmybook-left-box">
            <h1>Sell my book</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input type="text" name="title" placeholder="Book name" required/>

                <input type="hidden" name="seller" value="{{ user.username }}">

                <input type="text" name="author" placeholder="Author" required/>

                <input type="text" name="price" placeholder="Price" required/>

                <input type="text" name="publisher" placeholder="Publisher" required/>

                <h5>Published Year:</h5>
                <select id="year" name="year">
                    <script>
                        for (var i = 1800; i < 2019; i++) {
                            document.write('<option value="' + i + '">' + i + '</option>');
                        }
                    </script>

                </select>

                <h5>Condition:</h5>
                <select id="myselect-condition" name="condition" class="dropdownbox">
                    <option>Brand New</option>
                    <option>Like New</option>
                    <option>Very Good</option>
                    <option>Good</option>
                </select>

                <h5>Cover Type:</h5>
                <select id="myselect-cover_type" name="cover" class="dropdownbox">
                    <option>Hard</option>
                    <option>Soft</option>
                    <option>None</option>
                </select>

                <h5>Category:</h5>
                <select id="myselect-category" name="category" class="dropdownbox">
                    {% for key in categories %}
                        <option key="{{ key.id }}" {% if key == key.category %}
                                selected {% endif %}>{{ key }}</option>
                    {% endfor %}
                </select>

                <input type="text" name="language" placeholder="Language" required/>
                <input type="text" name="isbn" placeholder="ISBN no." maxlength="13" required/>
                <input type="text" name="contact" placeholder="Your Contact Number" maxlength="10" required/>
                <input type="file" name="image" required>
                <h5>Book Description:</h5>
                <textarea name="description" class="form-control" placeholder="Book Description" rows="8"
                          required></textarea>


                <input type="submit" name="login-button" value="Sell"/>
            </form>

        </div>
    </div>
{% endblock %}