{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and low pricesd books">
    <meta name="keywords" content="web design, affordable books">

    <title>Booksbay | Welcome</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<header>
    <div class="container">
        <div id="branding">
            <h1><a href="/"><span class="highlight">Books</span>Bay</a></h1>
        </div>

        <nav>
            <ul>
                <li class="active">
                    <form action="{% url 'books:search' %}" method="GET">
                        <input type="text" placeholder="Search books..." name="q">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </li>
                <li><a href="{% url 'books:sell-my-book' %}">Sell my book</a></li>
                <li><a href="{% url 'books:how-it-works' %}">How it works</a></li>
                {% if user.is_authenticated %}
                    <li>hello, {{ user.username }}</li>
                    <li><a href="{% url 'users:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'users:login' %}">Log in</a></li>
                    <li><a href="{% url 'users:register' %}">Sign up</a></li>
                {% endif %}
                <li class=cart_btn>
                    <a href="{% url 'carts:cart' %}"><i class="fas fa-shopping-cart fa-2x"></i></a>
                </li>
            </ul>
        </nav>

    </div>
</header>

{% block content %}
{% endblock %}


<footer>

    <div id="branding">
        <h1><a href="pages/index.html"><span class="highlight">Books</span>Bay</a></h1>
    </div>

    <div class="tag-line">Buy and sell books at affordable prices</div>

    <div class="foot-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'books:sell-my-book' %}">Sell my book</a></li>
            <li><a href="{% url 'books:how-it-works' %}">How it works</a></li>
            {% if user.is_authenticated %}
                <li></li>
            {% else %}
                <li><a href="{% url 'users:login' %}">Log in</a></li>
                <li><a href="{% url 'users:register' %}">Sign up</a></li>
            {% endif %}
            <li><a href="{% url 'carts:cart' %}">Cart</a></li>
        </ul>
    </div>


    <div class="active">
        <form action="{% url 'books:search' %}" method="GET">
            <input type="text" placeholder="Search books..." name="q">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    </div>


    <p>BooksBay Ltd, Copyright &copy; 2017</p>
</footer>


<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/owl.carousel.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 6
            }
        }
    })
</script>
</body>
</html>
